---
permalink: "feed.xml"
layout: "layouts/empty.njk"
eleventyExcludeFromCollections: false
eleventyNavigation:
  key: "Feed"
  order: 100
metadata:
  title: "Martin Hähnel's Blog"
  description: "I am writing about my experiences as a naval navel-gazer."
  language: "en"
  base: "https://blog.martin-haehnel.de/"
  author:
    name: "Martin Hähnel"
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="feeds/pretty-atom-feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:echofeed="https://echofeed.app" xml:lang="{{ metadata.language or page.lang }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base | addPathPrefixToFullUrl }}" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
    {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.base) }}{% endset %}
    <entry>
      <title>
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          {{ post.rawInput | striptags | truncate(20) }}
        {% endif %}
      </title>
      <link href="{{ absolutePostUrl }}" />
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">{{ post.content | renderTransforms(post.data.page, metadata.base) }}</content>
      {# The following is a combined title + content field  #}
      <echofeed:content type="html">
        {% if post.data.title %}
          {{ post.data.title }}
          &lt;br&gt;
        {% endif %}
        {{ post.content | renderTransforms(post.data.page, metadata.base) }}
      </echofeed:content>
    </entry>
  {%- endfor %}
</feed>
