---
title: "Archive"
eleventyNavigation:
  key: "Archive"
  order: 2
date: 2021-09-14T16:26:36+0200
permalink: /archive/
---
<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
